.authForm {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	height: 25%;
	min-height: 150px;
	min-width: 350px;
	background-color: #f1f5f9;
	padding: 25px;
	border-radius: 5px;
}

.authForm button {
	margin: 0 auto;
	padding: 5px 25px;
}

@media screen and (max-width: 800px) {
	.authForm {
		width: 60%;
	}
  }
  

@media screen and (max-width: 400px) {
	.authForm {
		width: 90%;
	}
  }